*{
	font-family: Montserrat;
}

/*Services Section*/
#services_offered{
	margin-top: 30px;
}
.services-column{
	padding: 20px;
}

.services-content{
	margin-top: 50px;
}

button{
	margin-top: 100px;
}
/*Footer Style*/
footer{
	padding: 20px;
	background-color: black;
	margin-top: 30px;
	color: #FFFFFF;
}

.footer-link: hover{
	color: #FFFFFF;
}

ul{
	list-style: none ;
}
